<h1>Employer#email_verification</h1>

<p>
  <%= @greeting %>,
  Your new email verification code is <%=  @employer.email_verification_token %>
  <%= link_to "verify",verify_attribute_employer_url(@employer,code: @employer.email_verification_token,type: :email ) %>
</p>
