<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employer.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @employer.gender %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @employer.phone_number %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @employer.date_of_birth %>
</p>
<p>
<strong> Email verified </strong>
<%= @employer.email_verified? %>
</p>
<p>
<strong> Phone number verified? </strong>
<%= @employer.phone_number_verified? %>

</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
